.bottom {
	position: bottom;
}

.circle1 {
  position: fixed;
  top: 3%;
  left: 3%;
  height: 50px;
  width: 50px;
  background-color: grey;
  border-radius: 50%;
}

.circle2 {
  position: fixed;
  top: 39%;
  left: 3%;
  height: 50px;
  width: 50px;
  background-color: grey;
  border-radius: 50%;
}

.circle3 {
  position: fixed;
  top: 75%;
  left: 3%;
  height: 50px;
  width: 50px;
  background-color: grey;
  border-radius: 50%;
}

.time {
	position: fixed;
	left: 5%;
	top: 15%;
}
.vl1 {
	position: fixed;
  border-left: 1px solid grey;
  height: 100px;
  left: 10%;
  top: 16%;
}

.vlplan {
	position: fixed;
  border-left: 1px solid grey;
  height: 75px;
  left: 10%;
  top: 22%;
}

.vl2 {
	position: fixed;
  border-left: 1px solid grey;
  height: 100px;
  left: 10%;
  top: 53%;
}

.share {
	position: fixed;
	top: 79%;
	left: 70%
}

.row {
	position: fixed;
	top: 90%;
}

.col {
	position: relative;
	left: 35%;
	padding: 15px 20px 0px 20px;
}

.center {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.plan {
	position: fixed;
	top: 15%;
	left: 30%
}

.more {
	position: fixed;
	top: 15%;
	left: 56%;
}

.speech-bubble {
	position: fixed;
	top: 36%;
	left: 40%;
	background: #00aabb;
	border-radius: .4em;
	padding-left: 10px;
	padding-right: 70px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;

}

.check {
	position: relative;
	right: 1%;
}
