    
<!doctype html>
<html lang="en">
  <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<title>Homepage</title>
  </head>

  <!-- beginning of homepage code -->
  <body>
  	<div>
  		<nav class="navbar navbar-light bg-light">
  	  <img src="images/tt.png">
      <span class="navbar-brand mb-0 h1 mx-auto">Your Itineraries</span>
      <button type="button" class="btn settings" data-toggle="modal" data-target="#myModal"><input type="image" src="https://www.shareicon.net/data/2015/08/19/87756_gear_512x512.png" width="16" height="16" alt="settings"></button>
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
	  			<div class="modal-content">

	  				<!-- settings close button -->
					<div class="modal-header">	
							<h3>Settings</h3>
		  					<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>


					<!-- settings buttons -->
					<div class="modal-body">
						<center>
							<input type="button" value="Help" class="btn btn-primary" onclick="alert('Here are the following features of the TravelPal webapp: you may either create a new itinerary or open an existing one as you travel.')"></input>
		  					<br>
		  					<br>
		  
		  					<input type="button" class="btn btn-primary" value="Logout" onclick="window.location.href = '/';"></input>
						</center>
					</div>
				</div>
			</div>
		</div>
    </nav>
  	</div>
  	<!-- list of itineraries -->
	<div>
		<ul class="list-group">	  		
	 			<li class="list-group-item" onclick="window.location.href = 'planz';">
	  				<ul class="itineraries">
      					<p style="text-align: left;">EXAMPLE ITINERARY</p>
   	 					<p style="text-align: right;">1 day(s)</p>
   	 				</ul>   	  
    	  		</li>		

		</ul>
	</div>
	
		<!-- add itinerary button-->
		
			<button type="button" class="btn addButton" data-toggle="modal" data-target="#myModal2"><input type="image" src="images/add.png" width="50" height="50"></button>
		
		
		<div class="modal fade" id="myModal2" role="dialog">
			<div class="modal-dialog">
	  			<div class="modal-content">

	  				<!-- close button-->
					<div class="modal-header">
		  				<button type="button" class="close" data-dismiss="modal">&times;</button>
		  			</div>

		  			<div class="modal-body">
		  				<center>
		  						<!-- create new itinerary-->
		  						<button type="button" class="btn btn-primary Create" data-toggle="modal" data-target="#myModal" onclick="window.location.href = 'planadd';">Create</button>
		  					<br>
		  					<br>

		  					<!-- Join an existing itinerary-->
		  					<input type="text" placeholder="enter link code"></input>

		  					<input type="button" class="btn btn-primary" value="Join" onclick="window.location.href = 'planz'"></input>
						</center>
					</div>
	  			</div>
			</div>
		</div>
		<!--/add button-->

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    	<script src="js/login.js" ="text/javascript"></script>

	</div>
  </body>
</html>

