<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light container-fluid">

        <img src="images/back.png" onclick="window.location.href = 'homepage';">

      <span class="navbar-brand mb-0 h1 mx-auto">{{itineraries.0.title}}</span>
      <img src="images/more.png" data-toggle="modal" data-target="#topModal">
      <div class="modal fade" id="topModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <form> <!--mode share notif edit delete-->
              <div class="form-group">
                <label for="exampleInputEmail1">Share link code</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" fill="https://travelpal.com/43409" value="3333">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Notifications</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>ON</option>
                    <option>OFF</option>
                    <option>Only when someone edits</option>
                    <option>Only when someone comments</option>
                  </select>
              </div>
          
                <button type="button" class="btn btn-outline-primary" onclick="window.location.href = 'planadd';">Edit Itinerary</button>
      
              <button type="button" class="btn btn-outline-danger" id="deleteButton">Delete Itinerary</button>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
          </div>
    </nav>


    <div class="container-fluid">
      <div class="row dates">
        <img src="images/larrow.png" class="arrow"><p>{{itineraries.0.numdays}}</p><img src="images/rarrow.png" class="arrow"></div>
    </div>
    <div>
      <div class="row mx-auto">
        <div class="col-3">
          <span class="times">
            <p>12 am</p>
            <p>2 am</p>
            <p>4 am</p>
            <p>6 am</p>
            <p>8 am</p>
            <p>10 am</p>
            <p>12 pm</p>
            <p>2 pm</p>
            <p>4 pm</p>
            <p>6 pm</p>
            <p>8 pm</p>
            <p>10 pm</p>
          </span>
          
        </div>
        <div class="col-9 container">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="checkout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Check out @ 7:00 AM
          </button>
          <div class="dropdown-menu container" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">La Jolla Townhouse
              <button type="button" class="btn btn-light float-right edit" data-toggle="modal" data-target="#myModal">Edit</button>
            </a>  
            <a class="dropdown-item" href="#">Meet downstairs</a>
            <hr>
            <span class="exampleComments">
              <a class="dropdown-item" href="#">Henry: Too early!!</a>
              <a class="dropdown-item" href="#">Christian: Too late!</a>
            </span>
              <form id="commentForm">
                  <input class="form-control form-control-sm" type="textarea" id="commentAdd" placeholder="add comment" name="commentPlz">
                  <button type="button" class="btn btn-primary commentButton">Comment</button>
              </form>
  
                  
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
      <button type="button" class="btn addButton" data-toggle="modal" data-target="#myModal"><input type="image" src="images/add.png" width="50" height="50"></button>
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Event</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="What is it?">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Time</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>12 am</option>
                  <option>2 am</option>
                  <option>4 am</option>
                  <option>6 am</option>
                  <option>8 am</option>
                  <option>10 am</option>
                  <option>12 pm</option>
                  <option>2 pm</option>
                  <option>12 pm</option>
                  <option>12 pm</option>
                  <option>12 pm</option>
                </select>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Place</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Where at?">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Detail</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="What more?">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
        </div>

      </div>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      <script src="js/login.js" ="text/javascript"></script>
  </body>
</html>