.alert {
	position: absolute;
	z-index: 100;
	top: 30%;
	width: 330px;
	top: 50%;
  	left:50%;
  	transform: translate(-50%,-50%);
}

.settings {
	position: relative;

}
.myItineraries {
	padding-top: 20px;
	padding-right: 20px;
}

.list-group-item {
	border: 2px solid #57aeff;
  border-radius: 35px !important;
  padding: 20px; 
  width: 160px;
  height: 150px; 
  box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.1);
}
.eAlert{

	position: absolute;
	z-index: 100;
	top: 0%;
	width: 330px;
	top: 30%;
  	left:50%;
  	transform: translate(-50%,-50%);
}
.dates {
	position: absolute;
	left: 50%;
}

.belowDates {
	padding-top: 15px;
}

.drop3 {
	width: 10%;
	height: auto;
}

.homeTitle {
float: none;
    margin: 0 auto;
}

.login {
	padding: 10%;
}

#loginb {
	background-image: url("https://images.unsplash.com/photo-1505860125062-3ce932953cf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
}

.planadd {
	padding :10%;
}

#logo {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 15%;
  opacity: .75;
}

.loginButton {
	float: right;
}

.times p {
	margin-top: 20px;
}

.arrow {
	width: 15px;
	height: 15px;
	margin-top: 5px;
}

#checkout {
	position: relative;
	margin-top: 65%;
}

#newEvent {
	position: relative;
	margin-top: 70%;
}

.addButton {
right: 10%;
bottom: 10%;
position: absolute;
}

#firstTime {
	margin-top: 10px;
}